.coursesTable {
  //padding: 15px 10px;
  margin-left: 100px;
  display: block;
  background-color: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;

  /* 以下两个属性目前并未支持，写在这里为了减少风险 */
  -o-user-select: none;
  user-select: none;
}

.courseWrapper {
  position: relative;
  //padding-left: 40px;
  border: 1px solid #dbdbdb;
}

.coursesHead {
  overflow: hidden;
  width: 100%;
  //background-color: #edffff;
  > div {
    position: absolute;
    top: 0;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    line-height: 28px;
    box-sizing: border-box;
    white-space: nowrap;
  //  此处 div 的长度需要 自动计算
    span:last-child {
      margin-left: 5px;
    }
  }
  .heightLightWeek {
    color: #ff6600;
  }
}

.leftHandTextDom, .coursesHead {
  background-color: #f2f6f7;
  //border-bottom: 1px solid rgba(0,0,0,0.1) !important;
}

.coursesContent {
  position: absolute;
  z-index: 2;
  top: 0;
  width: 100%;
  height: 100%;
  >div {
    position: absolute;
    box-sizing: border-box;
    left: 0;
    &:first-child {
      border-left: 1px solid rgb(238, 238, 238);
    }
  }
}

.highlightWeek{
  color: #02a9f5 !important;
}

.gridActive{
  z-index: 9999;
  span{
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  }
}

.coursesLeftHand {
  background-color: #f2f6f7;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  .timeList {
    position: absolute;
    left: 0;
    border-top: 1px solid rgb(238, 238, 238);
    box-sizing: content-box;
    // rgb(238, 238, 238)
    span {
      font-size: 14px;
      display: inline-block;
      vertical-align: middle;
      font-weight: bold;
    }
  }
}

.rgird{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  div {
    box-sizing: content-box;
    &:last-child {
      border: none !important;
    }
  }
}

.courseRect {
  text-align: center;
  border: 1px solid #e8e9ea;
  overflow: hidden;
  cursor: move;
  position: absolute;
  z-index: 3;
  color: #1996d4 !important;
  p {
    margin: 0;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    font-size: 13px;
  }
}

.rectList {
   li {
     margin-bottom: 10px;
   }
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  min-height: 44px;
  z-index: 110065;
  display: none;
  overflow: hidden;
  color: #444;
  background-color: #fafafa;
  border-color: #ddd;
  margin: 0;
  padding: 2px;
  border-width: 1px;
  border-style: solid;

  p {
    display: block;
    height: 20px;
    line-height: 20px;
    padding-left: 15px;
    position: relative;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;

    &:hover:not(.disabled) {
      border-color: #b7d2ff;
      color: #000;
      background: #eaf2ff;
      border-radius: 5px 5px 5px 5px;
    }
  }
}

.hover {
  border-color: #b7d2ff !important;
  color: #000;
  background: #eaf2ff;
  border-radius: 5px 5px 5px 5px;
}

.disabled {
  opacity: 0.5;
  cursor: default !important;
}
