@import "~antd/lib/style/themes/default.less";
@import '~@/utils/utils.less';

header {
  background-color: #fff;
  padding: 0 80px 0 28px;
  height: 100px;
  h2{
    color: #262626;
    font-weight: normal;
    font-size: 22px;
    line-height: 44px;
  }
}
.contentLink {
  margin-top: 16px;
  a {
    margin-right: 32px;
    img {
      width: 24px;
    }
  }
  img {
    vertical-align: middle;
    margin-right: 8px;
  }
}
.newButton {
  background-color: #fff;
  width: 100%;
  height: 200px;
}
.cardList {
  margin-bottom: -24px;
  margin-top: 24px;
  .card {
    :global {
      .ant-card-meta-title {
        margin-bottom: 12px;
        & > a {
          color: @heading-color;
          display: inline-block;
          max-width: 100%;
        }
      }
      .ant-card-actions {
        background: #f7f9fa;
      }
      .ant-card-body:hover {
        .ant-card-meta-title > a {
          color: @primary-color;
        }
      }
    }
  }
  .item {
    height: 64px;
  }

  :global {
    .ant-list .ant-list-item-content-single {
      max-width: 100%;
    }
    .ant-badge-status-text {
      color: #bfbfbf !important;
    }
  }
}
.pageHeaderContent {
  position: relative;
}
.extraImg {
  margin-top: -60px;
  text-align: center;
  width: 195px;
  img {
    width: 100%;
  }
}
@media screen and (max-width: @screen-md) {
  .extraImg {
    display: none;
  }
}
@media screen and (max-width: @screen-sm) {
  .pageHeaderContent {
    padding-bottom: 30px;
  }
  .contentLink {
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 1000px;
    a {
      margin-right: 16px;
    }
    img {
      margin-right: 4px;
    }
  }
}
