@import "~antd/lib/style/themes/default.less";

.standardTable {
  margin-top: 20px;
  :global {
    .ant-table-pagination {
      margin-top: 24px;
    }
  }
  .tableAlert {
    margin-bottom: 16px;
  }
  .tableRex {
    width: 230px;
    //margin-bottom: 24px;
    //margin-right: 30px;
    display: flex;
  }
}
