.textImg {
  display: flex;
  line-height: 48px;
  p {
    margin: 0;
  }
  p:nth-of-type(1) {
    width: 48px;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    background-color: #ff6447;
    border-radius: 50% 5px;
    align-items: center;
    box-shadow: 0 5px 15px 3px #e0dcdd;
  }
  p:nth-of-type(2) {
    margin-left: 40px;
    font-size: 16px;
    align-items: center;
    letter-spacing: .5em;
  }
}

:global {
  .ant-list-item {
    justify-content: space-between;
  }
}

.tableListForm {
  :global {
    .ant-form-item {
      margin-right: 0;
      display: flex;
      > .ant-form-item-label {
        width: auto;
        line-height: 32px;
        padding-right: 8px;
      }
      .ant-form-item-control {
        line-height: 32px;
      }
    }
    .ant-form-item-control-wrapper {
      flex: 1;
    }
  }
}
