@import '~antd/lib/style/themes/default.less';
@import '~@/utils/utils.less';

.stepForm {
  margin: 40px auto 0 !important;
  max-width: 500px;
}

.stepFormText {
  margin-bottom: 24px;
  :global {
    .ant-form-item-label,
    .ant-form-item-control {
      line-height: 22px;
    }
  }
}

.result {
  margin: 0 auto;
  max-width: 560px;
  padding: 24px 0 8px;
}

.desc {
  padding: 0 56px;
  color: @text-color-secondary;
  h3 {
    font-size: 16px;
    margin: 0 0 12px 0;
    color: @text-color-secondary;
    line-height: 32px;
  }
  h4 {
    margin: 0 0 4px 0;
    color: @text-color-secondary;
    font-size: 14px;
    line-height: 22px;
  }
  p {
    margin-top: 0;
    margin-bottom: 12px;
    line-height: 22px;
  }
}

@media screen and (max-width: @screen-md) {
  .desc {
    padding: 0;
  }
}

.information {
  line-height: 22px;
  :global {
    .ant-row:not(:last-child) {
      margin-bottom: 24px;
    }
  }
  .label {
    color: @heading-color;
    text-align: right;
    padding-right: 8px;
    @media screen and (max-width: @screen-sm) {
      text-align: left;
    }
  }
}

.money {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 14px;
}

.uppercase {
  font-size: 12px;
}
.radios {
  position: relative;
}
.radios:after {
  content: '88折';
  font-size: 10px;
  color: #fff;
  line-height: 15px;
  background-color: #ff7800;
  position: absolute;
  padding: 0 3px;
  top: -11px;
  right: 0;
}
.payList {
  max-width: 1000px;
  margin: 20px auto;
  .payMenu {
    position: relative;
    height: 44px;
    line-height: 44px;
    background: #f5f6f9;
    overflow: hidden;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border: 1px solid #eee;
    border-bottom: none;
    color: #33334f;
    font-size: 14px;
    .payEwm {
      background: #648ff7;
      color: #fff;
      float: left;
      line-height: 44px;
      padding: 0 50px;
      text-align: center;
      cursor: pointer;
      box-sizing: border-box;
      img {
        width: 18px;
        height: 18px;
        display: inline-block;
        vertical-align: middle;
        border: none;
        margin-right: 10px;
        margin-bottom: 4px ;
      }
    }
  }
  .payRadio {
    padding: 18px 0 8px 18px;
    border: 1px solid #eee;
    border-top: none;
    .lab {
      display: inline-block;
      width: 160px;
      padding: 10px 0px;
      text-align: center;
      background: #fff;
      border-radius: 2px;
      cursor: pointer;
      font-size: 14px;
      margin: 0 12px 10px 2px;
      transition: ease 0.2s;
      position: relative;
      border: 1px solid transparent;
      input {
        display: none;
      }
    }
    .lab:hover {
      border: 1px solid #648ff7;
    }


    .checked {
      position: relative;
      border: 1px solid #648ff7;
    }
    .checked:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 0;
      height: 0;
      border-top: 12px solid #648ff7;
      border-right: 12px solid transparent;
    }
  }
}

.submit {
  display: block;
  margin: 0 auto;
  width: 180px;
  .check_pay {
    display: block;
    width: 180px;
    line-height: 48px;
    height: 48px;
    text-align: center;
    border: none;
    color: #fff;
    background: #f97c73;
    margin: 40px auto 20px auto;
    cursor: pointer;
    font-size: 16px;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.14);
    transition: .2s;
    outline: none;
    &:hover {
      background: #fa655a;
    }
  }
}

.order {
  line-height: 30px;
  font-size: 16px;
  color: #333;
  padding: 20px;
  .clearfix();
  > img {
    float: left;
    margin-right: 20px;
  }
  p {
    margin: 0;
    float: left;
    span {
      color: crimson;
    }
  }
}

.inp {
  display: none;
}
