#coursesTable {
  padding: 15px 10px;
  display: none;
}
.Courses-head {
  background-color: #edffff;
}
.Courses-head > div {
  text-align: center;
  font-size: 14px;
  line-height: 28px;
}
.left-hand-TextDom, .Courses-head {
  background-color: #f2f6f7;
}
.Courses-leftHand{
  background-color: #f2f6f7;
  font-size: 12px;
}
.Courses-leftHand .left-hand-index{
  color: #9c9c9c;
  margin-bottom: 4px !important;
}
.Courses-leftHand .left-hand-name{
  color: #666;
}
.Courses-leftHand p {
  text-align: center;
  font-weight: 900;
}

.Courses-head>div{
  border-left: none !important;
}
.Courses-leftHand>div{
  padding-top: 5px;
  border-bottom: 1px dashed rgb(219, 219, 219);
}
.Courses-leftHand>div:last-child{
  border-bottom: none !important;
}
.left-hand-TextDom, .Courses-head{
  border-bottom: 1px solid rgba(0,0,0,0.1) !important;
}
.Courses-content>ul{
  border-bottom: 1px dashed rgb(219, 219, 219) !important;
  box-sizing: border-box;
}
.Courses-content>ul:last-child{
  border-bottom: none !important;
}
.highlight-week{
  color: #02a9f5 !important;
}
.Courses-content li {
  text-align: center;
  color: #666666;
  font-size: 14px;
  line-height: 50px;
}
.Courses-content li span {
  padding: 6px 2px;
  box-sizing: border-box;
  line-height: 18px;
  border-radius: 4px;
  white-space:normal;
  word-break:break-all;
  cursor: pointer;
}
.grid-active{
  z-index: 9999;
}
.grid-active span{
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
}

